vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Jan 2011 11:16:17 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ITECDOMAIN01\\mikeb
vti_modifiedby:SR|ITECDOMAIN01\\mikeb
vti_timecreated:TR|13 Jan 2011 11:16:17 -0000
vti_cacheddtm:TX|13 Jan 2011 11:16:17 -0000
vti_filesize:IR|869
vti_backlinkinfo:VX|
